div#cal-part img{
	width: 40%;
	height: 30%;
	padding: 0 25%;
}
#cal-part .show-parts{
	line-height: 40px;
	font-family: monotype corsiva;
	color: blue;
	font-size: 25px;
	padding: 0 30%;
} 

#cal-part .compute-part{
	padding-top: 20px;
	padding-left: 45%;
}
#cal-part .compute-part button{
	color: #FFFFFF;
	background-color:blue;
	border-radius: 5px;
	font-family: century;
	font-size: 15px;
}


