


div#cal-part img{
	width: 40%;
	height: 50%;
}
#cal-part .show-parts{
	line-height: 50px;
	width: 50%;
	font-family: monotype corsiva;
	color: blue;
	font-size: 25px;
	/*padding: 30px;*/

	/*padding: 0 30%;*/
} 

#cal-part .compute-part{
	padding-top: 20px;
	/*padding-left: 45%;*/
}
#cal-part .compute-part button{
	
	font-family: century;
	 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  width: 40%;
  margin: 4px 2px;
}


